<div class="card">
  <div class="card-header">
    <h4 class="card-title">Anti-Bully</h4>
  </div>
  <div class="card-block">
    <p class="card-text text-right">Online <span class="circle"></span></p>
    <ng-container *ngFor="let message of messages | async">
      <ng-container *ngIf="message.sentBy == 'bot'">
        <p class="botMessage alert alert-info">
          {{ message.content }}
        </p>
      </ng-container>
      <ng-container *ngIf="message.sentBy == 'user'">
        <p class="userMessage alert alert-danger">
          {{ message.content }}
        </p>
      </ng-container>
    </ng-container>
    <div class="card-title text-right">
      <div class="form-group mx-sm-3">
        <input class="form-control" [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">
      </div>
      <button class="btn btn-primary mx-sm-3" (click)="sendMessage()">Send</button>
    </div>
  </div>